body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.page-title {
  text-align: center;
}

.form-wrap {
  width: 206px;
  text-align: left;
  margin: 0 auto;
}

#z-label {
  display: block;
}

#z-input {
  height: 22px;
  width: 200px;
  font-size: 17px;
  margin: 0 auto;
  display: block;
}